{namespace v=Tx_Vegamatic_ViewHelpers}

<div class="row">
	<div class="eight columns">
	
	<h4>Dishes of the Week</h4>
	
		<table>
			<thead>
				<tr>
					<th>Day</th>
					<th>Maindish</th>
					<th>Sidedish</th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<td><f:format.date format="D">@{days.day1}</f:format.date></td>
					<td>{week.maindish1.name}</td>
					<td>{week.sidedish1.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day2}</f:format.date></td>
					<td>{week.maindish2.name}</td>
					<td>{week.sidedish2.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day3}</f:format.date></td>
					<td>{week.maindish3.name}</td>
					<td>{week.sidedish3.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day4}</f:format.date></td>
					<td>{week.maindish4.name}</td>
					<td>{week.sidedish4.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day5}</f:format.date></td>
					<td>{week.maindish5.name}</td>
					<td>{week.sidedish5.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day6}</f:format.date></td>
					<td>{week.maindish6.name}</td>
					<td>{week.sidedish6.name}</td>
				</tr>
				<tr>
					<td><f:format.date format="D">@{days.day7}</f:format.date></td>
					<td>{week.maindish7.name}</td>
					<td>{week.sidedish7.name}</td>
				</tr>				
			</tbody>
		</table>
	
	</div>
	
	<div class="four columns">
	
		<h4>Dish Selection</h4>
	
	</div>	
</div>

<div class="row">
	<p><a class="nice medium radius white button" href="#">Create new dishes...</a></p>	
</div>	