<div class="row">
	<div class="eight columns">	
		<h4>Shopping List</h4>
		<dl id="shoppingList">
			<f:groupedFor each="{week.shoppingList}" as="groupedShoppingList" groupBy="shop" groupKey="shop">
			<dt>{shop}</dt>
			<f:for each="{groupedShoppingList}" as="item">
				<f:if condition="{item.exclude} != 1">
					<f:then>
						<dd>
							<f:debug>{item}</f:debug>
							<f:if condition="{item.quantity}">{item.quantity}</f:if><f:if condition="{item.unit}"><f:translate key="tx_vegamatic_domain_model_amounts.unit.I.{item.unit}" /></f:if>							
							{item.name} -
							<f:link.action action="excludeAmount" arguments="{week : week, goods : item.goods}">Exclude</f:link.action> / 
							<f:link.action action="modifyAmount" arguments="{week : week, goods : item.goods}">Modify</f:link.action>
						</dd>
					</f:then>
					<f:else>
						<dd><span class="excluded">
							<f:if condition="{item.quantity}">{item.quantity}</f:if><f:if condition="{item.unit}"><f:translate key="tx_vegamatic_domain_model_amounts.unit.I.{item.unit}" /></f:if>						
							{item.name}</span> -
							<f:link.action action="includeAmount" arguments="{week : week, amount : item.amount}">Include</f:link.action>					
						</dd>
					</f:else>
				</f:if>
			</f:for>
			</f:groupedFor>
		</dl>
		<p>
			<f:if condition="{0:currentAction} != {0:'addAmount'}">
				<f:link.action class="nice medium radius white button" action="addAmount" arguments="{week : week}">TODO: Add new item</f:link.action>	
			</f:if>
			<a href="#" class="nice medium radius white button">TODO: Create new item</a>
			<a class="nice medium radius white button" href="#">TODO: Print</a>
		</p>
		<f:if condition="{0:currentAction} == {0:'addAmount'}">
			<h5>Add a new item</h5>
			<f:form action="createAmount" id="createAmount" object="amount">
			
				<label for="quantity">Quantity</label>
				<input type="text" id="quantity" name="quantity" value="" size="3" />
				
				<label for="unit">Unit</label>
				<f:form.select id="unit" name="unit" options="{0: '', 10: 'g'}" />
				
				<label for="goods">Items</label>
				<f:form.select id="goods" name="goods" options="{goods}" />
						
				<f:form.hidden name="exclude" value="1" />
				<f:form.hidden name="week" value="{week}" />
				
				<f:form.submit class="nice medium radius white button" value="Add it" />
			</f:form>
			<f:link.action action="show" arguments="{week : week}">...or Cancel</f:link.action>
		</f:if>
	</div>
</div>