<dl id="shoppingList">
	<f:groupedFor each="{week.shoppingList}" as="groupedShoppingList" groupBy="shop" groupKey="shop">
	<dt>{shop}</dt>
	<f:for each="{groupedShoppingList}" as="item">
		<f:if condition="{item.exclude} != 1">
			<f:then>
				<dd>
					<f:if condition="{item.quantity}">{item.quantity}</f:if><f:if condition="{item.unit}"><f:translate key="tx_vegamatic_domain_model_amounts.unit.I.{item.unit}" /></f:if>							
					{item.name} -
					<f:link.action action="excludeAmount" arguments="{week : week, goods : item.goods}">Exclude</f:link.action> / <a href="#">Modify</a>
				</dd>
			</f:then>
			<f:else>
				<dd><span class="excluded">
					<f:if condition="{item.quantity}">{item.quantity}</f:if><f:if condition="{item.unit}"><f:translate key="tx_vegamatic_domain_model_amounts.unit.I.{item.unit}" /></f:if>						
					{item.name}</span> -
					<f:link.action action="removeAmount" arguments="{week : week, amount : item.amount}">Include</f:link.action>					
				</dd>
			</f:else>
		</f:if>
	</f:for>
	</f:groupedFor>
</dl>
<p>
	<a href="#">Add...</a>
</p>
<p><a class="nice medium radius white button" href="#">Zettel drucken</a></p>