<f:layout name="Default" />

<f:section name="main">
{namespace v=Tx_Vegamatic_ViewHelpers}
<f:flashMessages />

<div class="row">

	<h2>List of Products</h2>

	<f:link.action action="list" controller="Weeks">Go back</f:link.action>
	
	<v:alphabet objects="{goods}" property="name" as="abcgoods" />
	
	<f:debug>{editProduct}</f:debug>
	
	<ul id="threecols">
	<f:for each="{abcgoods}" as="item" key="key">
		<f:if condition="{0:item} == {0:'startOfLetter'}">
			<f:then>
				<li><h5>{key}</h5><ul>			
			</f:then>
			<f:else>
				<f:if condition="{0:item} == {0:'endOfLetter'}">
					<f:then>
						</ul></li>
					</f:then>
					<f:else>
						<li>
						{item}
						- <f:link.action action="edit" controller="Goods" arguments="{product : key}">Edit</f:link.action>
			 			- <a data-reveal-id="deleteModal{key}">Delete</a>
						<div id="deleteModal{key}" class="reveal-modal">
							<h1>Really?</h1>
							<p>
								Would you really like to delete "{item}"?
								<div>
								<f:link.action action="delete" controller="Goods" class="nice medium radius white button" arguments="{product : key}">Delete!</f:link.action>
								<a class="nice medium radius white button close-reveal-modal">TODO: Cancel button</a>
								</div>
							</p>
						</div>			 			
			 			</li>					
					</f:else>
				</f:if>			
			</f:else>
		</f:if>
	</f:for>
	</ul>
	
	<f:if condition="{addProduct} != 1">
		<f:then>
			<f:link.action action="new" controller="Goods" class="nice medium radius white button">Create new</f:link.action>
		</f:then>
		<f:else>
			Show form
		</f:else>
	</f:if>
	
</div>

</f:section>