<f:layout name="Default" />

<f:section name="main">
{namespace v=Tx_Vegamatic_ViewHelpers}
<f:flashMessages />

<div class="row" id="products">

	<h2>Here's the list of your Products</h2>

	<p><f:link.action action="list" controller="Weeks" class="action back">Go back</f:link.action></p>
	
	<v:alphabet objects="{goods}" property="name" as="abcgoods" />
	
	<ul id="threecols">
	<f:for each="{abcgoods}" as="item" key="key">
		<f:if condition="{0:item} == {0:'startOfLetter'}">
			<f:then>
				<li><h5>{key}</h5><ul>			
			</f:then>
			<f:else>
				<f:if condition="{0:item} == {0:'endOfLetter'}">
					<f:then>
						</ul></li>
					</f:then>
					<f:else>
						<li>
						<f:if condition="{editProduct.uid} == {key}">
							<f:then>
								<f:form action="update" id="update" name="goods" object="{editProduct}">
									<label for="name">Name of product</label>
									<f:form.textbox id="name" property="name" size="10" value="{editProduct.name}" />
									<label for="shop">Shop to buy</label>
									<f:form.select id="shop" property="shop" options="{shops}" optionLabelField="name" />
									<f:form.submit class="nice small radius white button" value="Update" />
								</f:form>
								<f:link.action action="list" controller="Goods">...or Cancel</f:link.action>						
							</f:then>
							<f:else>
								{item}
								<span style="white-space: nowrap">
									<f:link.action action="edit" controller="Goods" arguments="{product : key}" class="action edit icon size16">Edit</f:link.action>
					 				<a data-reveal-id="deleteModal{key}" class="action delete icon size16">Delete</a>
					 			</span>
								<div id="deleteModal{key}" class="reveal-modal">
									<h1>Really?</h1>
									<p>
										Would you really like to delete "{item}"?
										<div>
										<f:link.action action="delete" controller="Goods" class="nice medium radius white button" arguments="{product : key}">Delete!</f:link.action>
										<a class="nice medium radius white button close-reveal-modal">TODO: Cancel button</a>
										</div>
									</p>
								</div>
							</f:else>
						</f:if>
			 			</li>					
					</f:else>
				</f:if>			
			</f:else>
		</f:if>
	</f:for>
	</ul>
	
	<div class="three columns">
		<h3>More products</h3>
		<p>Simply add more nice products to your list</p>
		<f:if condition="{addProduct} != 1">
			<f:then>
				<f:link.action action="new" controller="Goods" class="nice large radius white button new">Add</f:link.action>
			</f:then>
			<f:else>
				<h5>Add a new product</h5>
				<f:form action="create" id="create" name="newGoods" object="{newGoods}">
					<label for="name">Name of product</label>
					<f:form.textbox id="name" property="name" size="10" value="" />
					<label for="shop">Shop to buy</label>
					<f:form.select id="shop" property="shop" options="{shops}" optionLabelField="name" />
					<f:form.submit class="nice small radius white button" value="Add" />
				</f:form>
				<f:link.action action="list" controller="Goods">...or Cancel</f:link.action>
			</f:else>
		</f:if>
		<f:if condition="{shops}">
			<h3 style="margin-top: 1em;">Shops</h3>
			<p>These are your shops so far:</p>
			<ul id="shoplist">
			<f:for each="{shops}" as="shop">
				<li>{shop.name}</li>
			</f:for>
			</ul>
		</f:if>
		<f:if condition="{newShops}">
		<f:then>
			<h5>Add a new shop</h5>
			<f:form action="createShops" id="createShops" name="newShop" object="{newShop}">
				<label for="name">Name of shop</label>
				<f:form.textbox id="name" property="name" size="10" value="" />
				<f:form.submit class="nice small radius white button" value="Add" />
			</f:form>
			<f:link.action action="list" controller="Goods">...or Cancel</f:link.action>			
		</f:then>
		<f:else>
			<f:link.action action="newShops" controller="Goods" class="nice large radius white button new">Add</f:link.action>
		</f:else>
		</f:if>		
	</div>
	
</div>

</f:section>