<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Welcome to the Veg-A-Matic</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="{f:uri.resource(path:'Foundation/stylesheets/foundation.css')}">
	<link rel="stylesheet" href="{f:uri.resource(path:'CSS/application.css')}">
	<link rel="stylesheet" href="{f:uri.resource(path:'CSS/print.css')}" media="print">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{f:uri.resource(path:'Foundation/stylesheets/ie.css')}">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
	<div class="container">
		<header id="header" class="row">
			<h1 class="ten columns centered"><f:link.action action="list" controller="Weeks" title="Your daily dose of vegan dishes">
				<f:comment><f:image src="EXT:vegamatic/Resources/Public/Images/veg-a-matic-1.png" alt="Veg-A-Matic" alt="Veg-A-Matic"/></f:comment>
				<img src="typo3conf/ext/vegamatic/Resources/Public/Images/veg-a-matic-1.png" alt="Veg-A-Matic" />
			</f:link.action></h1>
		</header>
		<f:render section="main" />
	</div>
	<!-- Included JS Files -->
	<script src="{f:uri.resource(path:'Foundation/javascripts/foundation.js')}"></script>
	<script src="{f:uri.resource(path:'Scripts/jquery-ui-1.8.16.custom.min.js')}"></script>	
	<script src="{f:uri.resource(path:'Scripts/application.js')}"></script>
</body>
</html>