<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<div class="row">

	<div class="eight columns">
	<h2>Listing for Weeks</h2>
		
		<table>
			<thead>
			<tr>
				<th colspan="3"><f:translate key="tx_vegamatic_domain_model_weeks.weekstamp" /></th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{weeks}" as="week">
				<tr>
					<td><f:link.action action="show" arguments="{week : week}">{week.weekstamp -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{week : week}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{week : week}">Delete</f:link.action></td>
				</tr>
			</f:for>
			</tbody>
		</table>
		
		<f:link.action action="new">New Weeks</f:link.action>
		
	</div>
	
	<div class="four columns">
	</div>

</div>

</f:section>