<f:layout name="Default" />
<f:flashMessages />

<f:section name="main">

	<h1>New Weeks</h1>
	
	<f:link.action action="{referrerAction}" controller="{referrerController}">Go back</f:link.action>

	<f:form method="post" action="create"  name="newWeeks" object="{newWeeks}">
		<fieldset>
			<label for="weekstamp">Enter the startday of the new week</label>
			<f:form.textbox id="weekstamp" property="weekstamp" value="" size="15" />
		</fieldset>
		<f:form.submit class="nice small radius white button" value="Add" />
	</f:form>

</f:section>