<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
<div class="row" id="weeks_new">

	<div class="nine columns">

		<h1>Create a new vegan week</h1>
		
		<p><f:link.action action="{referrerAction}" controller="{referrerController}" class="action back">Go back</f:link.action></p>
		
		<h4>Enter the day from which your new week should start.</h4>
	
		<f:form method="post" action="create"  name="newWeeks" object="{newWeeks}">
			<fieldset>
				<label for="weekstamp">Startday (YYYY-MM-DD)</label>
				<f:form.textfield id="datepicker" property="weekstamp" value="" size="15" />
			</fieldset>
			<f:form.submit class="nice large radius white button new" value="Add" />
		</f:form>
	
	</div>
	
	<div class="three columns">
		<h3>Your dishes</h3>
		<p>Get an overview over all your dishes.</p>
		<p><f:link.action action="list" controller="Dishes" arguments="{referrerAction : 'list', referrerController : 'Weeks'}" section="dishes">List of all dishes</f:link.action></p>
		<h3>Your products</h3>
		<p>Check out which goods you have added to the database.</p>
		<p><f:link.action action="list" controller="Goods" arguments="{referrerAction : 'list', referrerController : 'Weeks'}" section="createDishes">List of all products</f:link.action></p>
	</div>

</div>

</f:section>