input.f3-form-error {
	background-color:#FF9F9F;
	border: 1px #FF0000 solid;
}

table {
	margin: 1em;
	border: 1px solid #333;
	border-collapse: collapse;
	border-spacing: 10px;
}

table th {
	font-weight: bold;
	border: 1px solid #333;
	padding: 1em;
}

table td {
	vertical-align: top;
	border: 1px solid #333;
	padding: 1em;
}

#shoppingList {
	margin: 1em 0;
}

#shoppingList dt {
	margin: 1em 0 0.5em 0;
	font-weight: bold;
}

#shoppingList dd {
	line-height: 1.8em;
}

.excluded {
	text-decoration: line-through;
}

.modified {
	color: red;
}

.amounts {
	min-height: 3em;
	margin: 1em 0;
	padding: 0.5em 1em 1em 1em;
}

.amounts div {
	clear: left;
}

.amounts label,
.amounts input,
.amounts select {
	float: left;
}

.amounts label {
	display: none;
}

.amounts select {
	margin: 0 1em;
}

#newItem {
	padding: 1em 0 0 0;
}

.listCol1, .listCol2, .listCol3 {
	float: left;
	width: 20em;
}

.listContainer1 {
	overflow: auto;
}