/* ## 01. RESET ########################################################################### */
/* note: element reset done in foundation */

/* ## 02. VIEWPORT ######################################################################## */
/* note: viewport specifics set in foundation */

/* ## 03. GRID ############################################################################ */
/* note: grid set in foundation */

/* ## 04. LAYOUT ########################################################################## */

body {
	background-color: #AF9362;
	background-image: url(../Images/brownpaper_pattern.gif);	
}

.container {
	margin: 8.5em auto 3em auto;
	padding: 6em 20px 6em 20px;
	background-color: #FFF;
	background-image: url(../Images/bg_top_card.png), url(../Images/bg_bottom_card.png);
	background-position: left top, left bottom;
	background-repeat: no-repeat;
	max-width: 920px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 0.3em 0.3em 0.3em #777;
	-moz-box-shadow: 0.3em 0.3em 0.3em #777;
	-o-box-shadow: 0.3em 0.3em 0.3em #777;
	box-shadow: 0.15em 0.15em 0.15em #777;	
}

@media only screen and (max-width: 767px) {
	max-width: 0;
}

#header {
	margin-top: -180px;
}

#header h1 {
	margin-bottom: 0;
}

#header h1 img {
	max-width: 100%;
}


#weeks_list, #weeks_new {
	/* background: url(../Icons/Layout/lime.png) 95% 95% no-repeat; */
	min-height: 35em;
}

/* ## 05. TYPOGRAPHY ###################################################################### */

h1, h2, h3, h4, h5 {
	color: #DE7047;
}

/*
form label, input, select {
	font-size: 14px;
}
*/

/* ## 07. SPECIAL CONTENT ################################################################# */

/* HYPERLINKS */

a, a:link, a:visited, a:active, a:hover, a:focus {
	color: #528540;
}

a:hover, a:focus {
	color: #4EAF2B;
}

.action {
	position: relative;
	display: inline-block;
	height: 32px;	
	cursor: pointer;
	padding: 1em 0 0 3em;
	margin-right: 1em;
}

.icon {
	width: 32px;
	text-indent: -500px;
	overflow: hidden;
	padding: 0;
	margin: 0 0.2em;
}

.size16 {
	padding-left: 1.5em;
}

.icon.size16 {
	width: 16px;
	height: 16px;
	padding: 0;
}

.delete {
	background: url(../Icons/Gui/32/bullet_delete.png) left center no-repeat;
}

.edit {
	background: url(../Icons/Gui/32/edit.png) left center no-repeat;	
}

.add {
	background: url(../Icons/Gui/32/bullet_add.png) left center no-repeat;	
}

.back {
	background: url(../Icons/Gui/32/arrow_left.png) left center no-repeat;	
}

.change {
	background: url(../Icons/Gui/32/arrow_refresh.png) left center no-repeat;	
}

.remove {
	background: url(../Icons/Gui/32/bullet_deny.png) left center no-repeat;	
}

.undo {
	background: url(../Icons/Gui/32/arrow_undo.png) left center no-repeat;
}

.info {
	background: url(../Icons/Gui/32/bullet_info.png) left center no-repeat;
}

.delete.size16 {
	background: url(../Icons/Gui/16/bullet_delete.png) left center no-repeat;
}

.edit.size16 {
	background: url(../Icons/Gui/16/edit.png) left center no-repeat;		
}

.add.size16 {
	background: url(../Icons/Gui/16/bullet_add.png) left center no-repeat;	
}

.change.size16 {
	background: url(../Icons/Gui/16/arrow_refresh.png) left center no-repeat;	
}

.remove.size16 {
	background: url(../Icons/Gui/16/bullet_deny.png) left center no-repeat;	
}

.undo.size16 {
	background: url(../Icons/Gui/16/arrow_refresh.png) left center no-repeat;
}

.info.size16 {
	background: url(../Icons/Gui/16/bullet_info.png) left center no-repeat;
}

/* BUTTONS */

.button.new, .button.fav, .button.print, .button.update {
	background-image: url(../Icons/Gui/32/bullet_add.png);
	background-repeat: no-repeat;
	background-position: 90% center !important;
	padding-right: 3.5em;
	padding-left: 2em;
	margin-right: 1em;
}

.button.fav {
	background-image: url(../Icons/Gui/32/favourites.png);
}

.button.print {
	background-image: url(../Icons/Gui/32/printer_accept.png);
}

.button.update {
	background-image: url(../Icons/Gui/32/arrow_refresh.png);
}

.reveal-modal {
	position: fixed !important;
}

.reveal-modal .close-reveal-modal {
	color: #333;
	position: relative;
	font-size: 13px;
	right: 0;
	left: 1em;
	top: 0;
	line-height: 1;
	padding: 9px 34px 11px;
}

/* TABLES */

table {
	display: table;
	margin: 1em 0;
	width: 100%;
}

th {
	font-weight: bold;
	padding: 1em;	
	color: #528540 !important;
	background: #FFDE8D url(../Images/wood_pattern.png);
}

thead, tbody {
	width: 100%;
}

table tbody tr:nth-child(2n) {
	background-color: #FFF6DF;
}

#weeks tbody tr td:first-child {
	min-width: 20%;
}

#week tbody tr td:first-child {
	width: 14%;
}

#week tbody tr td:nth-child(2) {
	width: 43%;
}

#week tbody tr td:nth-child(3) {
	width: 43%;
}

/* SHOPPING LIST */

#shoppingList {
	margin: 1em 0;
}

#shoppingList dt {
	margin: 1em 0 0.5em 0;
	font-weight: bold;
}

#shoppingList dd {
	clear: left;
	line-height: 1.8em;
}

.excluded {
	text-decoration: line-through;
}

.modified {
	color: #DE7047;
}

/* FORMS */

/* basics */

form fieldset {
	margin: 1em 0;
	border: none;
	padding: 0;
}

form label {
	display: block;
	margin: 1em 0 0 0;
	color: #528540;
	font-weight: bold;
}

form fieldset legend+label {
	margin: 0;
}

label + select {
	/* margin-top: -2px; */
	margin-top: 0;
}

input,
select {
	border: none;
	border-bottom: 1px solid #AFAFAF;
	padding: 3px 0 3px 3px;
}

input {
	padding-top: 5px;
}

/* week > addDish */

#week td form {
	margin: 0 0 -1em 0;
}

#week table .cancel {
	position: relative;
	top: -15px;
	left: 100px;
	margin-bottom: -1em;
}

/* week > updateAmount */

#updateAmount {
	margin: 1em 0 3em 0;
}

#updateAmount label {
	display: none;
}

#updateAmount input, #updateAmount select {
	float: left;
	margin-right: 1.5em;
}

#updateAmount .cancel {
	position: relative;
	top: 7px;
}

/* week > addAmount */

#addAmount {
	margin: 1em 0 1em 0;
}

/* datepicker */

.ui-datepicker {
	margin: -172px 0 0 200px;
}

.ui-datepicker-header {
	position: relative;
	top: 10px;
	text-align: center;
}

.ui-datepicker-prev {
	float: left;
	padding-left: 1.5em;
	background: url(../Icons/Gui/16/arrow_prev.png) left center no-repeat;
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
	padding-right: 1.5em;
	background: url(../Icons/Gui/16/arrow_next.png) right center no-repeat;
	cursor: pointer;
}

.ui-datepicker-title {
	font-weight: bold;
}

/* Dishes Edit/Update > amounts */

.amounts {
	margin: 0;
}

.amounts label {
	display: none;
}

.amounts input,
.amounts select {
	float: left;
	margin-right: 1.5em;
}

.amountdata {
	float: left;
}

#createDish h4, #updateDish h4 {
	margin: 1em 0 0.5em 0;
}

#dishlist {
	border: 1px solid #DDDDDD;
	padding: 1em;
	position: relative;
	overflow-y: scroll; 
	height: 278px; 
	margin-top: 1em;	
}

/* Goods > list */

#shoplist li {
	padding-left: 1em;
}

#shoplist li:before {
	content: "✿ ";
	color: #528540;
	margin-right: 0.5em;
}

/* Goods > createGods */

#createGoods {
	margin-bottom: -2em;
}

#createGoods label {
	margin-bottom: 0.5em;
}

#createGoods select {
	margin-bottom: 2em;
}

#createGoods + .cancel {
	position: relative;
	top: -3px;
	left: 80px;
	margin-bottom: -3em;
}

/* Goods > createShops */

#createShops input {
	display: block;
	margin-bottom: 2em;
}

#createShops + .cancel {
	position: relative;
	top: -50px;
	left: 80px;
}

/* Goods > updateGoods */

#updateGoods {
	margin-bottom: -1em;
}

#updateGoods label {
	margin-bottom: 0.5em;
}

#updateGoods select {
	margin-bottom: 1.5em;
}

#updateGoods + .cancel {
	position: relative;
	top: -15px;
	left: 100px;	
}

/* ## 08. MOBILE ########################################################################## */
/* note: mobile done in foundation */

/* ## 09. PRINT ########################################################################### */

@media print {
}

/* ## 10. FINALLY ######################################################################### */

/* class for hiding elements */
.skip {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    width: 1px;
    height: 1px;
    margin: -2px 0 0 -2px;
    background: transparent;
    text-indent: 2px;
}