<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />

<div class="row" id="dishEdit">
	
	<h2>Edit your dish</h2>
	
	<p><f:link.action action="{referrerAction}" controller="{referrerController}" arguments="{week : referrerObject}" class="action back">...or go back</f:link.action></p>

	<h4>Details of your dish</h4>

	<f:form action="update" id="updateDish" name="update" object="{dish}">
		
		<f:render partial="Dishes/FieldsetDescription" arguments="{dishName : dish.name, dishType : dish.type}" />
		
		<f:form.submit id="submit" class="nice large radius white button update" value="Update" />
		
		<f:if condition="{dish.amounts}">
			<h4>Existing Ingredients</h4>		
			<f:for each="{dish.amounts}" as="amount" iteration="counter">
				<f:render partial="Amounts/UpdateAmounts" arguments="{amount : amount, counter : counter}" />				
			</f:for>	
		</f:if>
		
		<h4>New Ingredients</h4>
		
		<f:render partial="Amounts/NewAmounts" arguments="{_all}" />

		<f:render partial="Common/ReferrerFields" arguments="{_all}" />
		
		<f:form.hidden value="{dish}" name="dish" />
	
	</f:form>
	
</div>
	
</f:section>