<f:layout name="Default" />

<f:section name="main">
<f:flashMessages />
{namespace v=Tx_Vegamatic_ViewHelpers}

<div class="row" id="dishes">

	<h2>Here's your list of dishes</h2>

	<p><f:link.action action="list" controller="Weeks" class="action back">Go back</f:link.action></p>

	<v:alphabet objects="{dishes}" property="name" as="abcdishes" />
	
	<ul id="threecols">
	<f:for each="{abcdishes}" as="item" key="key">
		<f:if condition="{0:item} == {0:'startOfLetter'}">
			<f:then>
				<li><h5>{key}</h5><ul>			
			</f:then>
			<f:else>
				<f:if condition="{0:item} == {0:'endOfLetter'}">
					<f:then>
						</ul></li>
					</f:then>
					<f:else>
						<li>
						{item}
						<span style="white-space: nowrap">
							<f:link.action action="edit" controller="Dishes" arguments="{referrerAction : 'list', referrerController : 'Dishes', dish : key}" class="action edit icon size16">Edit</f:link.action>
			 				<a data-reveal-id="deleteModal{key}" class="action delete icon size16">Delete</a>
			 			</span>
						<div id="deleteModal{key}" class="reveal-modal">
							<h1>Really?</h1>
							<p>
								Would you really like to delete "{item}"?
								<div>
								<f:link.action action="delete" controller="Dishes" class="nice medium radius white button" arguments="{dish : key}">Delete!</f:link.action>
								<a class="nice medium radius white button close-reveal-modal">TODO: Cancel button</a>
								</div>
							</p>
						</div>
			 			</li>					
					</f:else>
				</f:if>			
			</f:else>
		</f:if>
	</f:for>
	</ul>
	<div class="three columns">
	<h3>New dish</h3>
	<p>Extend your list with another delicious new dish.</p>
	<p><f:link.action action="new" controller="Dishes" class="nice large radius white button new" arguments="{referrerAction : 'list', referrerController : 'Dishes'}">Add</f:link.action></p>
	</div>
</div>

</f:section>