<f:layout name="Default" />

<f:flashMessages />

<f:section name="main">

{namespace v=Tx_Vegamatic_ViewHelpers}

	<h2>List of Dishes</h2>

	<f:link.action action="list" controller="Weeks">Go back</f:link.action>

	<v:alphabet objects="{dishes}" property="name" as="abcdishes" />
	
	<ul id="threecols">
	<f:for each="{abcdishes}" as="item" key="key">
		<f:if condition="{0:item} == {0:'startOfLetter'}">
			<f:then>
				<li><h5>{key}</h5><ul>			
			</f:then>
			<f:else>
				<f:if condition="{0:item} == {0:'endOfLetter'}">
					<f:then>
						</ul></li>
					</f:then>
					<f:else>
						<li>
						{item}
						- <f:link.action action="edit" controller="Dishes" arguments="{referrerAction : 'list', referrerController : 'Dishes', dish : dish}">Edit</f:link.action>
			 			- <a data-reveal-id="10">Delete</a>
			 			</li>					
					</f:else>
				</f:if>			
			</f:else>
		</f:if>
	</f:for>
	</ul>
	
	<f:link.action action="new" controller="Dishes" class="nice medium radius white button" arguments="{referrerAction : 'list', referrerController : 'Dishes'}">Create a new dish</f:link.action>

</f:section>