<f:layout name="Default" />
<f:flashMessages />
	
<f:section name="main">
	
	<h2>Create a new dish</h2>
	
	<f:link.action action="{referrerAction}" controller="{referrerController}" arguments="{week : referrerObject}">...or go back</f:link.action>
	
	<f:form action="create" id="createDish" name="newDish" object="{newDish}">
	
		<f:render partial="Dishes/FieldsetDescription" arguments="{dishName : dish.name, dishType : dish.type}" />
		
		<f:form.submit id="submit" class="nice medium radius white button" value="Create Dish" />
		
		<f:render partial="Amounts/NewAmounts" arguments="{_all}" />
		
		<f:render partial="Common/ReferrerFields" arguments="{_all}" />
	
	</f:form>
	
</f:section>